header {
    text-align: center;
    background-color: #b0b0b0;
    margin-bottom: 20px;
    padding: 10px;
    
    h1 {
        background-color: transparent;
    }
    
    nav {
        background-color: transparent;
    }

    a {
        background-color: transparent;
        margin: 0 10px;
        color: #333;
        text-decoration: none;
        transition: all 300ms ease-in-out;
        &:hover {
            font-weight: 700;
            text-decoration: underline;
        }
    }
    
    .active {
        font-weight: 700;
        text-decoration: underline;
    }
  }