.snap {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 500px;
    margin: 2rem auto;
    text-align: center;
    box-shadow: 0 0 16px #0000003d;
    border-radius: 1rem;
    
    &_link {
        position: absolute;
        top: 1.5rem;
        left: 1rem;
        font-size: 20px;
        color: #000;
        cursor: pointer;
        &:hover {
            color: #91bac6;
        }
    }
    
    &_img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    
    &_container {
        background-color: transparent;
        text-align: start;
        margin: 0 1rem;
        
        &_content {
            &_location {
                font-size: 16px;
            }

            &_date {
                font-size: 15px;
                color: #686868;
                font-style: italic;
            }
        }
        
        &_footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 0.5rem 0 0.5rem;
            margin: 0 -0.5rem -0.5rem -0.5rem;
            background-color: transparent;
            border-top: 1px solid #0000002f;

            &_content {
                margin-top: 0;
            }
            
            &_btn {
                margin-right: 0.5rem;
            }
        }
    }
}

.snapped {
    background-color: #00668245;
}